<div class="root">
  <h2>Pioneer Feedback</h2>

  <div class="description">
    <p>Please fill in the form to provide comment(s) or suggestion(s) to Pioneer Programme. All feedback is treated confidential.</p>
  </div>

  <%= render :partial => 'form' %>
</div>
