<div class="root">
  <h2>Pioneer Feedback</h2>

  <div class="description">
    <p>This is Wallem Feedback form, please fill in the form to notice us about your concern. Your information will be confidential.</p>
  </div>

  <%= render :partial => 'form' %>
</div>
