html, body {
    font: 10pt Verdana, Geneva, sans-serif !important;
    margin: 0;
    padding: 0;
    line-height: 1;

}

.bluetextbold {
    color: #4e5b9f;
    font-weight: bold;
}

.bluetext {
    color: #4e5b9f;
}

p, h1, form, button {
    border: 0;
    margin: 0;
    padding: 0;
}

.spacer {
    clear: both;
    height: 1px;
}

.pgstyle {
    border: solid 2px #b7ddf2;
    background: #ebf4fb;
    font-size: 11px;
    color: #666666;
}

h1 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
}

h2 {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 8px;
}

p {
    font-size: 11px;
    margin-bottom: 5px;
    color: #666666;
}

.contained {
    margin-bottom: 5px;
    border-bottom: solid 1px #b7ddf2;
    padding-bottom: 10px;
}

input {
    font-size: 12px;
    padding: 2px 2px;
    border: solid 1px #aacfe4;
    margin: 2px 1px;
}

#message {
    width: 90%;
}

#col1, #col2, #col3 {
    float: left;
    margin: 1em;
}

.field {
    margin-top: 1em;
}

.clearfix:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.field p {
    font-size: 75%;
    margin-top: 0;
    font-style: italic;
}

.status-line {
    vertical-align: middle;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 8em;
    text-align: center;
}

#innovate {
    border: 0 none !important;
    display: block;
    padding-top: 10px;
}

#innovate img {
    height: 50px;
}

.showme {
    border: solid 1px #aacfe4;
    width: 700px;
    padding-left: 10px;
    display: inline-block;
}

.showme .how {
    display: none;
}

.showme > p {
    font-size: 14px;
    margin: 4px;
}

.showme:hover .how {
    display: inline-block;
}

#signature p {
    font-size: 10px;
    color: black;
    padding: 0;
    border: 0;
}

