// Place all the styles related to the feedback controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.alert {
  text-align: center;
  padding: 8px 35px 8px 14px;
  margin: 10px 0 20px 0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #c09853;
  h4 {
    color: #c09853;
    margin: 0;
  }
  .close {
    position: relative;
    top: -2px;
    right: -21px;
    line-height: 20px;
  }
}

.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  h4 {
    color: #468847;
  }
}

.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
  h4 {
    color: #b94a48;
  }
}

.root {
  margin: 0 auto;
  width: 960px;
  h2 {
    font-size: 24px;

  }
  div.description {
    margin: 25px 5px;
  }
}

.topbar {
  width: 960px;
  height: 90px;
}

.left {
  width: 70px;
  height: 86px;
  float: left;
}

.right {
  width: 960px;
  height: 86px;
}

/*button send*/

a {
  text-decoration: none;
  color: #333333;
}

.container {
  width: 135px;
  margin: 0px auto 11px; /* buttons pushed from the top by 10% */
}

.button {
  margin: 8px;
}

#respond {
  p {
    clear: both;
    line-height: 40px;
    margin: 5px 0;
    input[type="text"] {
      width: 867px;
      float: left;
    }
  }
  label {
    float: left;
    width: 65px;
    padding-right: 10px;

    text-shadow: 1px 1px 1px #fff;
    text-align: right;
  }
  div.field_with_errors {
    input[type="text"] {
      width: 800px;
    }
  }
}

.comment-form-email {
  float: left;
}

/*input*/
input[type="text"] {
  border: 1px solid #d2dadd;
  -moz-box-shadow: 0 1px 1px #f3f4f6 inset;
  -webkit-box-shadow: 0 1px 1px #f3f4f6 inset;
  box-shadow: 0 1px 1px #f3f4f6 inset;
  font-size: 13px;
  color: #3a3a3a;
  padding: 8px 7px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px 3px 3px 3px;
  outline-color: #e2eaed;
  background: #f8f8f8;
}

div.content {
  margin-top: 20px;
  div.field {
    div.cke_1 {
      margin: 5px 0;
    }
  }

}

.button-submit {
  margin-top: 20px;
}

.button-submit input[type="submit"] {
  border-top: 1px solid #6efab6;
  background: #82d9af;
  background: -webkit-gradient(linear, left top, left bottom, from(#78b077), to(#82d9af));
  background: -webkit-linear-gradient(top, #78b077, #82d9af);
  background: -moz-linear-gradient(top, #78b077, #82d9af);
  background: -ms-linear-gradient(top, #78b077, #82d9af);
  background: -o-linear-gradient(top, #78b077, #82d9af);
  padding: 10px 20px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;

  text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
  color: #ffffff;
  font-size: 16px;
  font-family: Helvetica, Arial, Sans-Serif;
  text-decoration: none;
  vertical-align: middle;
}

.button-submit input[type="submit"]:hover {
  border-top-color: #68d986;
  background: #68d986;
}

.button-submit input[type="submit"]:active {
  border-top-color: #1b435e;
  background: #1b435e;
}

#header {
  margin: 9px auto;
  width: 960px;
  div.separate {
    height: 1px;
    background-color: darkslategrey;
    margin-top: 10px
  }
}
