body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  //  &:hover {
  //    color: #fff;
  //    background-color: #000;
  //  }
}

span {
  a {
    color: #000;
    &:visited {
      color: green;
    }
    &:hover {
      color: rgb(108, 159, 29);
    }
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

#error_explanation {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
  width: 450px;
  padding: 7px;
  margin-bottom: 20px;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #ae1a1a;
    color: #fff;
  }
  ul {
    li {
      font-size: 12px;
      list-style: square;
    }
  }
}

.field_with_errors {
  padding: 0;
  display: table;
  input[type="text"] {
    width: 942px;
    //background-color: #f2dede;
    border-color: red;
    border-width: 2px;
  }
  .cke_1.cke_chrome {
    width: 957px;
    border-color: red;
    border-width: 2px;
  }
}

textarea {
  font-family: inherit;
}

input:hover, textarea:hover {
  border: 1px solid #8b8b8b;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15);
}

input:focus, textarea:focus {
  outline: none;
  border: 1px solid #24a3cd;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15);
}

#recaptcha_area {
  margin-left: -5px;
  margin-top: -5px;
  #recaptcha_table td {
    line-height: normal;
  }
}

.notice-message {
  display: none;
  p {
    text-align: left;
    color: #666666;
  }
}

select {
  border: 1px solid #a4a4a4;
  height: 33px;
  width: 200px;
  font-size: 14px;
}